<template>
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- /.col-lg-3 -->

      <div class="col">

        <div class="card mt-4">
          <div class="card-body">
            <h3 class="card-title">Nos équipes ! </h3>
            <div class="card" >
              <ul class="list-group list-group-flush text-center">

                    <li v-for = "(recipient) in localRecipients" :key="recipient.id"  class="list-group-item" > L'équipe {{recipient.title}}  {{recipient.icon}}
                        <a @click='openTeamDetails(recipient.id)' class="btn btn-secondary btn-sm" role="button">Voir</a>     
                    </li>               
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>

import { recipientsGroup }  from '@/assets/js/recipientsGroup'

export default {
  name: 'Teams',
  data() {
    return {
      localRecipients:recipientsGroup
    }
  },
  methods:{
    openTeamDetails(recipientId){
      this.$router.push({
          name:'TeamsDetails',
          params:{recipientId:recipientId}
        });
      console.log('team' + recipientId)
    }
  },
  components: {
  }
}
</script>

