<template>
<div class="container">

          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Nos teams</h1>
              <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Prénom</th>
                  <th scope="col">Prix</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(recipient,idx) in localRecipients" :key="recipient.id">
                  <th scope="row">{{idx}}</th>
                  <td>{{recipient.id[currentRecipient].firstName}}</td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>


    <div class="row">
      <div class="col">
        <div class="card mt-4">
          <div class="card-body">
            <h3 class="card-title">Oh la belle équipe de R&D </h3>
            <h5 class="card-title">Composée de x membres</h5>
                <div class="media mb-2" >
                  <img class="mr-3 rounded" style='height:120px' src="https://pbs.twimg.com/media/EhpTpCJXcAMCZ-p.jpg" alt="Generic placeholder image">
                  <div class="media-body">
                    <h5 class="mt-0">SonPrénom & SonNom ?</h5>
                    <span class="badge badge-info">allonsbon@queltalent.org</span>
                  </div>
                </div>
          </div>
        </div>
      </div>     
    </div>

</div>
  
</template>

<script>

import { recipientsGroup }  from '@/assets/js/recipientsGroup'

export default {
  name: 'TeamsDetails',
  data() {
    return {
      localRecipients:recipientsGroup,
      currentRecipient:null
    }
  },
  created(){
    const recipientId = this.$route.params.recipientId
    this.currentRecipient = recipientId
    console.log('page de lequipe ', recipientId)
  },
  components: {
  }
}
</script>

