<template>
  <div id="app">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

      <NavBar />

      <router-view/>

      <Footer />



  </div>
</template>

<script>
import NavBar    from './components/NavBar'
import Footer    from './components/Footer'


export default {
  name: 'App',
  props: { 

   },
  components:{
      NavBar,
      Footer
  }
}
</script>

<style>
  
  body {
    padding-top: 56px;
  }

</style>